
@{
    ViewBag.Title = "Produit";
    //Layout = "~/Areas/administrateur/Views/Shared/_LayoutAdmin.cshtml";
    Layout = "~/Areas/administrateur/Views/Dashboard/unprod.cshtml";

}

<h2>Produit</h2>

